body{
    background-color: #dddddd;
    margin-bottom: 20px;
}
body div{
    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}