<body>
  

<a [routerLink]="'/registeration'">Registeration</a>
<a [routerLink]="'/login'">Login</a>
<!-- <ng-container *ngIf="showAvailibilityOnNav"><a [routerLink]="'/customise'">My Availability</a></ng-container>
<ng-container *ngIf="showAvailibilityOnNav"><a [routerLink]="'/users'">All users</a></ng-container> -->
<ng-container *ngIf="loggedInEmailId"><a [routerLink]="'/customise'">My Availability</a></ng-container>
<ng-container *ngIf="loggedInEmailId"><a [routerLink]="'/users'">All users</a></ng-container>
<!-- <ng-container *ngIf="loggedInEmailId"><button (click)="logOutUser()">Logout</button></ng-container> -->

<!-- <ng-container *ngIf="showAvailibilityOnNav"><button>Log Out</button></ng-container> -->


<!-- <a [routerLink]="'/users'">Users</a> -->
<!-- <a [routerLink]="'/calendar'">Calendar</a> -->

<!-- <a  [routerLink]="'/schedulemeet'">Schedule Meet</a> -->
<!--   {path : 'calendar', component: CalendarComponent}
 -->
 <!-- <ng-container *ngIf="userLoggedIn"> -->
  <!-- <button *ngIf="userLoggedIn" (click)="logoutUser()"><a [routerLink]="'/login'">Logout</a></button>  -->
<!-- </ng-container> -->


</body>
<div>
  <router-outlet></router-outlet>
</div>
