<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Meeting Canceled</title>
</head>

<body>
  <h2>Hello, </h2>
  <p>Please be informed that the meeting scheduled on {{start}} to {{end}}  has been canceled.</p>
  <p>Canceled by : {{emailIdOfWhoCancelled}}</p>
  <p>Reason for cancelation : {{cancelationReason}}</p>


</body>

</html>