<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Event Assigned.</title>
</head>
<body>
  <h2>Hello, {{userNameToWhomEventBelongs}}  </h2>
  <p>One of your events is assigned to {{userNameToWhomEventIsToBeAssigned}}.</p>

  <p>Details:</p>
    <ul>
        <li>Event Name: {{evName}}</li>        
    </ul>
</body>
</html>
