<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Meeting ended email.</title>
</head>

<body>
  <div style="width:50%; margin: auto; font-size: 16px; font-family: sans-serif; margin-top: 50px;">

    <p>Hi, </p>
    <p>Thank you for attending {{eventName}} on {{eventStartTime}}.</p>
    <p>Please respond to this email with any feedback or additional requests.</p>
  </div>

</body>

</html>