<app-navbar></app-navbar>

<div>
    <div id="content">
        <h1>Scheduled events</h1>
        <app-nav-for-scheduled-events></app-nav-for-scheduled-events>
        <div id="events">
            <div *ngIf="showMeets" [hidden]="!showMeets" id="meetDetails">
                <h4>Meeting details: </h4>
                        <div><span class="title">Meeting with : </span><span>{{newObj.name}}</span></div>
                        <div> <span class="title">Event type : </span> <span>{{newObj.evType}}</span> </div>
                        <div><span class="title">Date : </span><span>{{newObj.date}}</span></div>
                        <div><span class="title">Time : </span><span>{{newObj.startTime}} to {{newObj.endTime}}</span></div>
                        <div><span class="title">Email Ids of participants : </span>
                            <span *ngFor="let email of newObj.emailId; let i = index">
                                <p>{{email}}</p>
                            </span>
                        </div>
                        <hr>

                <button (click)="closePopUp()" class="closeBtn">Close</button>
                <button (click)="editMeetingPopUp()">Edit</button>
            </div>


            <!-- <div *ngIf="editMeet" [hidden]="!editMeet" id="meetEditDetails">
                <h4>Edit Meet: </h4>          
                
                <p>Add atendees</p>
                <label for="meetWith">Email Id : </label>
                <input type="email" [(ngModel)]="newEditObj.emailId" value={{newObj.emailId}} name="meetWith" class="editMeet"/>
    
                <label for="meetWithName">Name : </label>
                <input type="name" [(ngModel)]="newEditObj.name" value={{newObj.name}} name="meetWithName" class="editMeet"/>

                <p>Remove atendees</p>


                <label for="meetDate">Meeting date : </label>
                <input type="date" [(ngModel)]="newEditObj.date" value={{newObj.date}} name="meetDate" class="editDate"/>
                
                <label for="meetStartTime">Meeting start time : </label>
                <input type="time" [(ngModel)]="newEditObj.startTime" value={{newObj.startTime}} name="meetStartTime" class="editStartTime"/>
    
                <label for="meetEndTime">Meeting end time : </label>
                <input type="time" [(ngModel)]="newEditObj.endTime" value={{newObj.endTime}} name="meetEndTime" class="editEndTime"/>
                    <hr>
    
                <div id="btnDiv">
                    <button (click)="closePopUp()" class="closeBtn">Cancel</button>
                    <button (click)="editMeetingfromUserSide()">Finish</button>
                </div>
    
            </div> -->


            <div *ngIf="editMeet" [hidden]="!editMeet" id="meetEditDetails">
                <h4>Edit Meet: </h4>          
                
                <p>Add attendees:</p>
                <div *ngFor="let attendee of attendees; let i = index">
                    <div>
                        <div class="makeFlex">
                            <label for="meetWith">Email Id : </label>
                            <input type="email" [(ngModel)]="attendees[i]" name="meetWith{{i}}" class="editMeet"/>
                        </div>

                        <div class="BtnDiv"> 
                            <button (click)="removeAttendee(i)"  class="removeBtn">-</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="BtnDiv">
                    <button (click)="addAttendee()"  class="addBtn">+</button>
                </div>
                <hr>

                <div>
                    <p>Remove existing attendees:</p>

                    <div class="removeExtUser" *ngFor="let email of newEditObj['emailId']; let i = index">
                        <!-- <p>{{newEditObj['emailId']}}</p>
                        <button *ngIf="newEditObj['emailId']" (click)="removeExistingAttendee()" class="removeBtn">-</button> -->
                            <p>{{email}}</p>
                            <button (click)="removeExistingAttendee(i, email)" class="removeBtn">-</button>
                    </div>

                     <!-- <div *ngIf="removedAttendeeUndo">
                        <button (click)="undoRemoveExistingAttendee()" class="undoBtn">Undo</button>
                    </div> -->
                </div>
                <hr>
                

            
                <div class="makeFlex">
                    <label for="meetDate">Meeting date : </label>
                    <input type="date" [(ngModel)]="newEditObj.date" name="meetDate" class="editDate"/>
                </div>
                
                <div class="makeFlex">
                    <label for="meetStartTime">Meeting start time : </label>
                    <input type="time" [(ngModel)]="newEditObj.startTime" name="meetStartTime" class="editStartTime"/>
                </div>
            
                <div class="makeFlex">
                    <label for="meetEndTime">Meeting end time : </label>
                    <input type="time" [(ngModel)]="newEditObj.endTime" name="meetEndTime" class="editEndTime"/>
                </div>
                <hr>
            
                <div id="btnDiv">
                    <button (click)="closePopUp()" class="closeBtn">Cancel</button>
                    <button (click)="editMeetingfromUserSide()">Finish</button>
                </div>
            </div>





            <div id="calendars">
                <div>
                    <full-calendar id="monthCalendar" defaultView="dayGridMonth" 
                        [options]="calendarOptionsMonth" plugins={[dayGridPlugin]} >
                    </full-calendar>
                </div>
    
                <div>
                    <full-calendar id="weekCalendar" defaultView="dayGridMonth" *ngIf="formattedMeetingsHide.length > 0"
                            [options]="calendarOptionsWeek" plugins={[dayGridPlugin]}></full-calendar>
                </div>
    
                <div>
                    <full-calendar id="dayCalendar" defaultView="dayGridMonth" *ngIf="formattedMeetingsHide.length > 0"
                                [options]="calendarOptionsDay" plugins={[dayGridPlugin]}></full-calendar>
                </div>
            </div>
        </div>
    </div>
</div>