<body>
    <div id="mainDiv">


        <!-- <div id="popUpForNewMeet" *ngIf="popUpForNewMeet">
            <div class="heading">
                <h4>Create New Meeting</h4>
                <ng-icon (click)="newMeetCacelation()" name="radixCross2"></ng-icon>
            </div>
            <form>
                <input type="text" [(ngModel)]="newMeetName" value={{newMeetName}} name="MeetName" id="newMeetName">
                <label for="newMeetName">Meeting Name</label>

                <select name="EventType" id="newEventType" [(ngModel)]="newEventType" value="newEventType">
                    <option value="" disabled>Event Type</option>
                    <option value="One-on-One">One-on-One</option>
                    <option value="Group">Group</option>
                    <option value="Collective">Collective</option>
                </select>
                <label for="newEventType">Event Type</label>

                <input type="number" [(ngModel)]="newEventHrs" id="newEventHrs" value={{newEventHrs}} name="EventHrs">
                <label for="newEventHrs">Event Hours</label>

                <input type="number" [(ngModel)]="newEventMins" id="newEventMins" value={{newEventMins}} name="EventMins">
                <label for="newEventMins">Event Minutes</label>

                <span>Event Location: </span> <span>Zoom</span>
            </form>
            <div class="popupBtns">
                <button class="cnfmBtn" (click)="newEventConfirmation()">Finish</button>
            </div>
        </div> --> 


        <div id="horiNav">
            <div>
                <a href="/entireUserAdmin">Events</a>
            </div>
            <div>
                <!-- <a id="tableViewA" href="/meetingsTableAdmin">Meetings Table View</a> -->
                <a href="/meetingsCalendarAdmin">Meetings Calendar View</a>
            </div>
        </div>
    </div>
</body>