body {
    display: flex;
    height: 110vh;
    margin-left: 60px;
    font-family: sans-serif;
}

#leftDiv,
.slider {
    /* border: 1px solid rgb(27, 2, 2); */
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 30px;
    overflow-y: scroll;
    height: 100vh;
}

#leftDiv a,
.slider a {
    line-height: 80px;
    color: black;
}

.label {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 1px;
}

/* #leftDiv p, #leftDiv h4, .slider p, .slider h4{
    font-weight: bold;
} */
.makeItBold {
    font-weight: bold;
    margin-top: 20px;
}

#leftDiv p,
.slider p {
    line-height: 30px;
}

#leftDiv input,
.slider input {
    display: block;
    /* height: 45px; */
    border-radius: 5px;
    border: 1px solid rgb(160, 158, 158);
    padding: 10px;
}

#zoom {
    border: 1px solid #0069FF;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

#zoomIcon {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
}

.goBackBtn {
    border: none;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;

}

#rightDiv {
    width: 70%;
    padding-top: 2%;
    /* height: 150vh; */
    height: 100vh;
}

#eventDeets {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#greyStrip {
    background-color: #333333;
    /* height: 10px; */
    padding: 15px;
    color: white;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
}

#greyStrip p {
    display: inline;
}

#greyStrip>:nth-child(1) {
    font-weight: bold;
}

#belowGreyStrip {
    text-align: center;
    padding-top: 30px;
}

#belowGreyStrip>:nth-child(1) {
    color: grey;
    font-weight: bold;
}

#belowGreyStrip>:nth-child(2) {
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
}

#timeAndLocation {
    display: flex;
    justify-content: space-around;
    color: #1A1A1A9C;
    font-weight: bold;
}

#timeAndLocation div {
    display: flex;
}

ng-icon {
    display: flex;
    font-size: 20px;
    margin-right: 10px;
}

#locationP {
    font-style: italic;
}

#previewDiv {
    /* border: 1px solid black; */
    margin-top: 40%;
    width: 70%;
    margin-left: 25%;
    font-size: 20px;
    color: rgb(124, 123, 123);
    font-weight: bold;
}

.bottomDiv {
    margin-top: 50px;
    /* margin-top: 5px; */
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}

.bottomDiv div {
    /* display: flex; */
    /* border: 1px solid red; */
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-size: 14px;
}

.bottomDiv>div>:nth-child(1) {
    border: none;
    background-color: white;
    /* border: 1px solid red; */
}

.bottomDiv>div>:nth-child(2) {
    background-color: #0069FF;
    padding: 10px;
    border-radius: 50px;
    border: none;
    /* border: 1px solid red; */
}

.bottomDiv>div>:nth-child(2) a {
    color: white !important;
    /* border: 1px solid green; */
    /* background-color: red; */
    text-decoration: none !important;
    line-height: 0px
}

.redWarning {
    color: #C84545;
    font-size: 13px;
    font-weight: 300;
}

button:hover {
    cursor: pointer;
}

.smallDivs p {
    /* color: red; */
    display: flex;
}

.makeItFlex {
    display: flex;
}

.otherBtns {
    border: white;
    background-color: white;
    height: 40px;
}

#shareBtn {
    border-radius: 50px;
    border: 1px solid #0069FF;
    background-color: #0069FF;
    color: white;
    display: flex;
    height: 40px;
    padding: 10px;
}






/* ------------------------------------------------- */
.slider {
    display: none;
}

.smallDivs:hover {
    cursor: pointer;
}

.eventDetailsSlider,
.hostsAndInviteesSlider,
.bookingPageSlider {
    display: block;
    position: absolute;
    width: 35%;
    z-index: 1;
    background-color: white;
    transition: all 0.5s;
    height: 100vh;
}

/* ------------------------------------------------- */

#description textarea {
    height: 150px;
    width: 100%;
    padding: 20px 10px;
}

.headings {
    font-size: 20px;
    font-weight: 800;
}

.eventNameHeading {
    font-size: 22px;
    font-weight: 700;
}

#aboveHeading {
    display: flex;
    justify-content: space-between;
}

/* ------------------------------------------------- */

.flexWithStyling {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.checkBoxDivStyling {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}

.checkBoxDivStyling p {
    margin-bottom: 0px;
}

.bookingFrmInviteeQuests {
    justify-content: space-evenly;
    border: 1px solid rgb(189, 188, 188);
    padding: 20px;
}

.iconDiv {
    width: 10%
}

.questionDiv {
    width: 80%;
    /* border: 1px solid green; */
}

.allQuestionsDiv {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.questionsToAsk {
    width: 80%;
    /* border: 1px solid black; */

}

#topInviteeQuests {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* .allQuestionsDivParent {
    border: 1px solid grey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
} */

#addNewQuest {
    color: #0069FF;
}

#addNewQuest:hover {
    cursor: pointer;
}

.popUpToAddNewQuestion {
    z-index: 10;
    margin-top: 10%;
    margin-left: 30%;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 420px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    line-height: 30px;
}

.popUpForNewQuestionHeading {
    display: flex;
    justify-content: space-between;
}

#questionBox {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
}

#questionBox:focus {
    outline: 1px solid #0069FF;
    border: 1px solid #0069FF;

    /* outline:solid 10px red; */

}

.requiredDiv {
    width: 25%;
    justify-content: space-between;
}

.requiredDiv p,
.statusOnOff p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.statusOnOff {
    width: 15%;
    justify-content: space-between;
}

.popUpToAddNewQuestion button {
    background-color: #0069FF;
    color: white;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
}

#closePopUpToAddNewQuestion:hover {
    cursor: pointer;
}


#closePopUpToAddNewQuestion {
    font-weight: 100;
}

.makeBlur {
    filter: blur(5px);
    background-color: rgb(247, 243, 243);
}

.warning {
    color: red;
    font-size: 12px;
}

#warningDiv {
    height: 25px
}

.popOver {
    width: 100px;
    border: 1px solid rgb(214, 213, 213);
    position: absolute;
    z-index: 10;
    margin-top: 18px;
    background-color: white;
    margin-left: 60%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
.popOver:hover{
    cursor: pointer;
}
.popOver p{
    display: contents;
}

.popOverForQuests {
    width: 100px;
    border: 1px solid rgb(214, 213, 213);
    position: absolute;
    z-index: 10;
    margin-top: 18px;
    background-color: white;
    margin-left: 60%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.popOverDivs {
    display: flex;
    border-bottom: 1px solid rgb(214, 213, 213);
}

.popOverDivs:hover {
    cursor: pointer;
}

.popOverDivs p {
    display: contents;
}

.makeSmallPopup {
    height: 300px
}

#selectTagForName {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
}
.makeRed{
    color: rgb(138, 2, 2);
}
#offStatus{
    font-size: 12px;
    background-color: rgb(207, 206, 206);
    height: 20px;
    padding: 3px;
    border-radius: 3px;
}