<app-navbar></app-navbar>
<app-hori-nav></app-hori-nav>

<div id="body">

  <!-- <button class="btn btn-primary" (click)="openModal()">Open Bootstrap Modal</button>

      
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Bootstrap Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p>This is the content of the modal.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
                </div>
            </div>
            </div>
        </div> -->

  <!-- -------------------------------------------- -->

  <!-- <div class="showhim" id="verticalNav" >
        <div  class="ok">
            <div id="upperDiv">
                <ng-icon id="logo" name="bootstrapCCircleFill"></ng-icon>
                <ng-icon id="plusSign" name="bootstrapPlusCircleFill"></ng-icon>
                <ng-icon class="commonSizeIcon" id="attachIcon" name="typAttachmentOutline"></ng-icon>
                <ng-icon class="commonSizeIcon" name="remixCalendar2Line"></ng-icon>
                <ng-icon class="commonSizeIcon" name="remixStackshareLine"></ng-icon>
                <ng-icon id="makeBold" name="circumRoute"></ng-icon>
            </div>
            <div id="lowerDiv">
                <ng-icon class="commonSizeIcon" name="bootstrapClock"></ng-icon>
                <ng-icon class="commonSizeIcon" name="octApps"></ng-icon>
                <ng-icon class="commonSizeIcon" name="iconoirCrown"></ng-icon>
                <ng-icon class="commonSizeIcon" name="bootstrapQuestionCircle"></ng-icon>
            </div>
        </div>
        <div class="showme" >
            <div id="upperDivHover">
                <div id="logoDivExpand"><a href="/home"><ng-icon id="logoExpand" name="bootstrapCCircleFill"></ng-icon><p>Calendly</p></a></div>
                <div><a href="/createNewEventType"><button id="plusSignExpand" name="bootstrapPlusCircleFill">+ Create</button></a></div>
                <div><a href="/home"><ng-icon class="commonSizeIcon" id="attachIconExpand" name="typAttachmentOutline"></ng-icon><p>Event Types</p></a></div>
                <div><a href="/scheduledEvents"><ng-icon class="commonSizeIcon" name="remixCalendar2Line"></ng-icon><p>Scheduled events</p></a></div>
                <div><ng-icon class="commonSizeIcon" name="remixStackshareLine"></ng-icon><p>Workflows</p></div>
                <div><ng-icon id="makeBoldExpand" name="circumRoute"></ng-icon><p>Routing</p></div>
            </div>

            <div id="lowerDivHover">
                <div><a href="/customise"><ng-icon href="" class="commonSizeIcon" name="bootstrapClock"></ng-icon><p>Availability</p></a></div>
                <div><ng-icon class="commonSizeIcon" name="octApps"></ng-icon><p>Integration & apps</p></div>
                <div><ng-icon class="commonSizeIcon" name="iconoirCrown"></ng-icon><p>Admin center</p></div>
                <div><ng-icon class="commonSizeIcon" name="bootstrapQuestionCircle"></ng-icon><p>Help</p></div>
            </div>

        </div>
    </div> -->

  <!-- ------------------------------------------------------------------------------------------- -->

  <!-- <p id="lookAround"><ng-icon name="bootstrapStars"></ng-icon>Take a look around</p>
    <button id="inviteUser"><ng-icon name="remixUserAddLine"></ng-icon><p>Invite User</p></button> -->
  <div id="content">
    <!-- <div id="parentOfHori">
            <div id="horiNav">
                <button id="firstCharBtn" (click)="logoutCalled()"><p class="firstChar"> {{firstChar}} </p><ng-icon id="downArrow" name="bootstrapCaretDownFill"></ng-icon></button>
                <button [hidden]="logOutValue==false" id="logOutButton" (click)="logOut()">Logout</button>
            </div>
        </div> -->
    <div id="eventsDiv">
      <p id="eventTypeHeading">Event types</p>
      <div id="filterDiv">
        <!-- <div id="filterTag"><button><p>My Calendly</p><ng-icon name="bootstrapChevronDown"></ng-icon></button></div>-->
                <div id="divForSearch">
                    <ng-icon name="ionSearchOutline"></ng-icon>
                    <input type="text" id="searchIP" placeholder="Filter" [(ngModel)]="searchQuery" (input)="filterItems()">
                </div> 
      </div>
      <div id="divForuserNameLinkAndButton">
        <div id="leftDiv">
          <div id="firstCharDiv">
            <p class="firstChar">{{ firstChar }}</p>
          </div>
          <div>
            <p>{{ loggedInName }}</p>
            <a href="/myEvents"
            
              >http://localhost:4200/myEvents</a
            >
          </div>
        </div>
        <div id="rightDiv">
          <button id="newEventType" (click)="goToCreateNewEventPage()">
            New Event Type
          </button>
          <!-- <ng-icon name="ionSettingsOutline"></ng-icon> -->
        </div>
      </div>
      <hr />
    </div>

    <div id="popUpForEventDeletion" *ngIf="showPopup">
      <h4>Delete {{ deleteEventName }}?</h4>
      <p>
        Users will be unable to schedule further meetings with deleted event
        types. Meetings previously scheduled will not be affected.
      </p>
      <div id="popupBtns">
        <button id="cancelBtn" (click)="deleteEventCacelation()">Cancel</button>
        <button id="cnfmDelBtn " (click)="deleteEventConfirmation()">Yes</button>
      </div>
    </div>
 
    <div><h4 id="pleaseWait" *ngIf="!eventsArrayOfLoggedInUser.length && !tryingToFilter">Please Wait...</h4></div>
    <div  id="cannotFind" *ngIf="!filteredArr.length && tryingToFilter">
      <p>Sorry, it looks like nothing matches that search criteria.</p>
      <p>You can search by name, type of event, or duration,.</p>
    </div>

    
    <div id="divForCards">
      <ng-container *ngIf="eventsArrayOfLoggedInUser.length && !tryingToFilter">
        <div
          class="card"
          style="width: 23re m"
          *ngFor="let event of eventsArrayOfLoggedInUser; let i = index"
        >
          <!-- <div class="card" style="width: 23rem;" *ngFor="let event of eventsArrayOfLoggedInUser; let i = index | filter:filterTerm"> -->

          <div class="purpleLine"></div>
          <div class="card-body">
            <div class="settingsBtnDiv">
              <button
                class="settingsButtonOnCard"
                (click)="settingsCalled(event._id)"
              >
                <ng-icon name="ionSettingsOutline"></ng-icon
                ><ng-icon
                  class="downArrow"
                  name="bootstrapCaretDownFill"
                ></ng-icon>
              </button>
            </div>
            <div
              *ngIf="showSetting"
              [hidden]="showSettingFor != event._id"
              class="settingsExpansionDiv"
            >
              <button (click)="editEvent(event._id)">Edit</button>
              <button (click)="deleteEventPopup(event._id, event.evName)">
                Delete
              </button>
            </div>
            <p class="card-title">{{ event.evName }}</p>
            <p class="card-subtitle mb-2 text-mute d">
              <span *ngIf="event.evDuration.hrs != 0"
                >{{event.evDuration.hrs}}hrs &nbsp; <!--  for space --></span
              >
              
              <span *ngIf="event.evDuration.minutes != 0"
                >{{event.evDuration.minutes}}mins</span
              >
              , {{ event.evType }}
            </p>
            <!-- <a
              href="http://localhost:3000/calendarLink/sharable?name={{
                loggedInName
              }}&id={{ loggedInEmailId }}&evType={{ event.evType }}&evName={{
                event.evName
              }}&evDurHrs={{ event.evDuration.hrs }}&evDurMins={{
                event.evDuration.minutes
              }}&image={{ imageAfterGetting }}"
              >View booking page</a
            > -->

            <a  class="makeBlue"
            (click)="showBookingPage(event._id)"
            target="_blank">View booking page</a
          >

            <div class="firstChar firstCharCard">
              <p>{{ firstChar }}</p>
            </div>
            <hr />
            <div class="cardFooter">
              <!-- <button
                ngxClipboard [cbContent]=
                "'http://localhost:3000/calendarLink/sharable?userId=' +usersId +'&eventId=' +event._id"
                class="copyLinkBtn"
                (click)="copied(event.evName)"
                [hidden]="setCopied == event.evName"
              >
                <ng-icon name="ionCopyOutline"></ng-icon>
                <p>Copy link</p>
              </button> -->


              <button

              class="copyLinkBtn"
              (click)="copied(event.evName, event._id)"
              [hidden]="setCopied == event.evName"
            >
              <ng-icon name="ionCopyOutline"></ng-icon>
              <p>Copy link</p>
            </button>

              <button class="copyLinkBtn" [hidden]="setCopied != event.evName">
                <ng-icon id="tickIcon" name="typTick"></ng-icon>
                <p>Copied</p>
              </button>
            </div>
          </div>
        </div>
      </ng-container>


      <ng-container *ngIf="filteredArr.length && tryingToFilter">
        <div
          class="card"
          style="width: 23re m"
          *ngFor="let event of filteredArr; let i = index"
        >
          <!-- <div class="card" style="width: 23rem;" *ngFor="let event of eventsArrayOfLoggedInUser; let i = index | filter:filterTerm"> -->

          <div class="purpleLine"></div>
          <div class="card-body">
            <div class="settingsBtnDiv">
              <button
                class="settingsButtonOnCard"
                (click)="settingsCalled(event._id)"
              >
                <ng-icon name="ionSettingsOutline"></ng-icon
                ><ng-icon
                  class="downArrow"
                  name="bootstrapCaretDownFill"
                ></ng-icon>
              </button>
            </div>
            <div
              *ngIf="showSetting"
              [hidden]="showSettingFor != event._id"
              class="settingsExpansionDiv"
            >
              <button (click)="editEvent(event._id)">Edit</button>
              <button (click)="deleteEventPopup(event._id, event.evName)">
                Delete
              </button>
            </div>
            <p class="card-title">{{ event.evName }}</p>
            <p class="card-subtitle mb-2 text-mute d">
              <span *ngIf="event.evDuration.hrs != 0"
                >{{ event.evDuration.hrs }} hrs&nbsp; <!--  for space --></span
              >
              <span *ngIf="event.evDuration.minutes != 0"
                >{{ event.evDuration.minutes }} mins</span
              >
              , {{ event.evType }}
            </p>
            <!-- <a
              href="http://localhost:3000/calendarLink/sharable?name={{
                loggedInName
              }}&id={{ loggedInEmailId }}&evType={{ event.evType }}&evName={{
                event.evName
              }}&evDurHrs={{ event.evDuration.hrs }}&evDurMins={{
                event.evDuration.minutes
              }}&image={{ imageAfterGetting }}"
              >View booking page</a
            > -->

            <a class="makeBlue"
            href="http://localhost:3000/calendarLink/sharable?userId={{usersId}}&eventId={{event._id}}"
            target="_blank">View booking page</a
          >

            <div class="firstChar firstCharCard">
              <p>{{ firstChar }}</p>
            </div>
            <hr />
            <div class="cardFooter">
              <!-- <button
                ngxClipboard [cbContent]=
                "'http://localhost:3000/calendarLink/sharable?userId=' +usersId +'&eventId=' +event._id"
                class="copyLinkBtn"
                (click)="copied(event.evName)"
                [hidden]="setCopied == event.evName"
              >
                <ng-icon name="ionCopyOutline"></ng-icon>
                <p>Copy link</p>
              </button> -->

              <button

              class="copyLinkBtn"
              (click)="copied(event.evName, event._id)"
              [hidden]="setCopied == event.evName"
            >
              <ng-icon name="ionCopyOutline"></ng-icon>
              <p>Copy link</p>
            </button>

              <button class="copyLinkBtn" [hidden]="setCopied != event.evName">
                <ng-icon id="tickIcon" name="typTick"></ng-icon>
                <p>Copied</p>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- <div class="card" style="width: 23rem;">
                <div class="purpleLine"></div>
                <div class="card-body">
                  <div class="settingsBtnDiv"><button class="settingsButtonOnCard"><ng-icon name="ionSettingsOutline"></ng-icon><ng-icon class="downArrow" name="bootstrapCaretDownFill"></ng-icon></button></div>
                  <p class="card-title">30 Minute Meeting</p>
                  <p class="card-subtitle mb-2 text-muted">30 mins, One-on-One</p>
                  <a href="http://localhost:3000/calendarLink?name={{loggedInName}}&id={{loggedInEmailId}}">View booking page</a>
                  <div class="firstChar firstCharCard"><p> {{firstChar}} </p></div>
                  <hr>
                  <div class="cardFooter">
                      <button class="copyLinkBtn"><ng-icon name="ionCopyOutline"></ng-icon><p>Copy link</p></button> 
                  </div>

                </div>
              </div> -->

            </div>
            <!-- <button (click)="integratePayPal()">Integrate PayPal</button>
            <button *ngIf="paypalIntegrated" (click)="makePayment()">Pay Now</button> -->
  </div>
</div>






<!-- href="http://localhost:3000/calendarLink/sharable?userId={{usersId}}" -->


<!-- [cbContent]="
'http://localhost:3000/calendarLink/sharable?name=' +
loggedInName +
'&id=' +
loggedInEmailId +
'&evType=' +
event.evType +
'&evName=' +
event.evName +
'&evDurHrs=' +
event.evDuration.hrs +
'&evDurMins=' +
event.evDuration.minutes
" -->





<!-- <div>
  <input type="text" [(ngModel)]="searchQuery" (input)="filterItems()" placeholder="Search...">
</div>
<div id="results">
  <div *ngFor="let item of filteredItems">
    {{ item.evName}}
  </div>
</div> -->



