<div class="showhim" id="verticalNav" >
    <div  class="ok">
        <div id="upperDiv">
            <ng-icon id="logo" name="bootstrapCCircleFill"></ng-icon>
            <ng-icon id="plusSign" name="bootstrapPlusCircleFill"></ng-icon>
            <ng-icon class="commonSizeIcon" id="attachIcon" name="heroUsers"></ng-icon>
            <!-- <ng-icon class="commonSizeIcon" id="" name="heroUserGroup"></ng-icon> -->
            <ng-icon class="commonSizeIcon" id="loginIcon" name="ionLogInOutline"></ng-icon>
            <!-- <ng-icon class="commonSizeIcon" name="remixCalendar2Line"></ng-icon>
            <ng-icon class="commonSizeIcon" name="remixStackshareLine"></ng-icon>
            <ng-icon id="makeBold" name="circumRoute"></ng-icon> -->
        </div>
        <!-- <div id="lowerDiv">
            <ng-icon class="commonSizeIcon" name="bootstrapClock"></ng-icon>
            <ng-icon class="commonSizeIcon" name="octApps"></ng-icon>
            <ng-icon class="commonSizeIcon" name="iconoirCrown"></ng-icon>
            <ng-icon class="commonSizeIcon" name="bootstrapQuestionCircle"></ng-icon>
        </div> -->
    </div>
    <div class="showme" >
        <div id="upperDivHover">
            <div id="logoDivExpand"><a href="/home"><ng-icon id="logoExpand" name="bootstrapCCircleFill"></ng-icon><p>Clodura.AI</p></a></div>
            <div><a href="/newUserAdditionAdmin"><button id="plusSignExpand" name="bootstrapPlusCircleFill">+ Create User</button></a></div>
            <div><a href="/users"><ng-icon class="commonSizeIcon" id="attachIconExpand" name="heroUsers"></ng-icon><p>Users</p></a></div>
            <!-- <div><a href="/group"><ng-icon class="commonSizeIcon" id="" name="heroUserGroup"></ng-icon><p>Groups</p></a></div> -->

            <div>
                <a href="/home">
                    <ng-icon class="commonSizeIcon" id="loginIconExpand" name="ionLogInOutline"></ng-icon>
                    <p>Back to home</p>
                </a>
            </div>
            <!-- <div><a href="/scheduledEvents"><ng-icon class="commonSizeIcon" name="remixCalendar2Line"></ng-icon><p>Scheduled events</p></a></div>
            <div><ng-icon class="commonSizeIcon" name="remixStackshareLine"></ng-icon><p>Workflows</p></div>
            <div><ng-icon id="makeBoldExpand" name="circumRoute"></ng-icon><p>Routing</p></div> -->
        </div>

        <!-- <div id="lowerDivHover">
            <div><a href="/customise"><ng-icon href="" class="commonSizeIcon" name="bootstrapClock"></ng-icon><p>Availability</p></a></div>
            <div><ng-icon class="commonSizeIcon" name="octApps"></ng-icon><p>Integration & apps</p></div>
            <div><ng-icon class="commonSizeIcon" name="iconoirCrown"></ng-icon><p>Admin center</p></div>
            <div><ng-icon class="commonSizeIcon" name="bootstrapQuestionCircle"></ng-icon><p>Help</p></div>
        </div> -->

    </div>
</div>




