<body>
    <div class="container">
        <h1>Signup for free</h1>

        <form #userForm="ngForm" (submit)="registerUser(userForm)">
            <label for="Name">Name:</label>
            <input type="text" name="Name" ngModel required>
            
            <label for="Email">Enter your email to get started.</label>
            <input type="text"  name="EmailID" ngModel required>
            
            <label for="Password">Password:</label>
            <input type="password"  name="Password" ngModel required>

            <button type="submit">Get started</button>

            <span>Already have an account?</span>
            <a  href="/login">Login</a>

        </form>
    </div>
</body>


