<app-navbar></app-navbar>
<app-hori-nav></app-hori-nav>

<div class="popup-container">
    <div class="popup-header">
        <div id="header-cross">
            <button (click)="closePopUp()">X</button>
        </div>
        <h2>Your poll is ready to share!</h2>
      <p>Invite people to vote on times that work for them.</p>
      <input type="text" value={{votingLink}}>
      <button class="copy-link" (click)="copyLink()">{{buttonText}}</button>
    </div>
    <div class="popup-body">
      <!-- <p>You can find this poll again on the <a href="">Scheduled Events</a> page under.</p> -->

      <div class="next-steps">
        <p id="nextStepsHeading">NEXT STEPS</p>
        <div class="step">
          <span>1</span>
          <p class="pBesideSpan">Share the link</p>
            <p class="pBelowSpan">Send your poll to everyone you want to vote on times.</p>
        </div>
        <div class="step">
          <span>2</span>
          <p class="pBesideSpan">Track the votes</p>
            <p class="pBelowSpan">We'll send you an email whenever someone votes, and you can come back to check the results at any time.</p>
        </div>
        <div class="step">
          <span>3</span>
          <p class="pBesideSpan">Book the meeting!</p>
            <p class="pBelowSpan">We'll show you the most popular options, and send everyone calendar invites once you decide a final meeting time.</p>
        </div>
      </div>
    </div>
  </div>
  