<div>

    <div>
      <h3 *ngIf="loading" id="loading">Meeting creation in progress....</h3>
    </div>

    <div class="container">
        <!-- <ng-container  *mcRerender="trigger">  -->
          <full-calendar defaultView="dayGridMonth" *ngIf="formattedMeetingsHide.length > 0" [options]="calendarOptions" plugins={[dayGridPlugin]}></full-calendar>
        <!-- </ng-container> -->
        <div *ngIf="displayTimeDiv" class="timeDiv">
          <div id="timeLeftDIv">
    
            <p>{{dateSelected}}</p>
        
            <button class="confirmEvent" (click)="createEvent(EventName.value)">Confirm Event</button>
        
            <label for="EventName">Event Name</label>
            <input type="text" id="EventName" name="EventName"  #EventName>
        
            <!-- <label for="EventDesc">Event Description</label> -->
            <!-- <input type="text" id="EventDesc" name="EventDesc" #EventDesc> -->
            
            <div *ngFor="let oneTime of userAvailaibleArray; let i = index">
              <button (click)="setEventTime(oneTime)">{{oneTime}}</button>
            </div>
          </div>
    
          <div id="timeRightDIv">
            <button (click)="changeDisplayTimeDiv()">X</button>
          </div>
        </div>
        
      </div>
</div>
  
  