*{
    background-color: black;
    color: green;
}
.container{
    /* border: 1px solid red; */
    display: flex; 
    justify-content: space-evenly; 
}
full-calendar{
    width : 60%; 
    /* border: 1px solid blue; */
}
.fc-daygrid-day-top{
    border: 2px solid red;
    color : red;
    background-color: green;
}
.timeDiv{
    width : 40%; 
    /* border: 1px solid green; */
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.confirmEvent{
    margin: 2px;
    width: 30%;
    height : 30px;
}
#loading{
    text-align: center;
}