<app-admin-nav-bar></app-admin-nav-bar>

<body>
    <app-horizontal-nav-admin></app-horizontal-nav-admin>
    <div id="mainDiv">

        <div id="popUpForEventEdit" *ngIf="popUpForEventEdit">
            <div class="heading">
                <h4>Edit {{editEventName}}</h4>
                <ng-icon (click)="editEventCacelation()" name="radixCross2"></ng-icon>
            </div>
            <form>
                <input type="text" [(ngModel)]="editEventName" value={{editEventName}} name="EventName" id="EventName">
                <label for="EventName">Event Name</label>

                <select name="EventType" id="EventType" [(ngModel)]="editEventType" value="editEventType">
                    <option value="" disabled>Event Type</option>
                    <option value="One-on-One">One-on-One</option>
                    <option value="Group">Group</option>
                    <option value="Collective">Collective</option>
                </select>
                <label for="EventType">Event Type</label>

                <input type="number" [(ngModel)]="editEventHrs" id="EventHrs" value={{editEventHrs}} name="EventHrs">
                <label for="EventHrs">Event Hours</label>

                <input type="number" [(ngModel)]="editEventMins" value={{editEventMins}} name="EventMins" id="EventMins">
                <label for="EventMins">Event Minutes</label>

            </form>
            <div class="popupBtns">
                <!-- <button class="cancelBtn" (click)="editEventFull(editEventName, editEventType, editEventHrs, editEventMins)">Show User</button> -->
                <button class="cnfmBtn" (click)="editEventConfirmation()">Finish</button>
            </div>
        </div>


        <!-- <div id="popUpForNewEvent" *ngIf="popUpForNewEvent">
            <div class="heading">
                <h4>Create New Event</h4>
                <ng-icon (click)="newEventCacelation()" name="radixCross2"></ng-icon>
            </div>
            <form>
                <input type="text" [(ngModel)]="newEventName" value={{newEventName}} name="EventName" id="newEventName">
                <label for="newEventName">Event Name</label>

                <select name="EventType" id="newEventType" [(ngModel)]="newEventType" value="newEventType">
                    <option value="" disabled>Event Type</option>
                    <option value="One-on-One">One-on-One</option>
                    <option value="Group">Group</option>
                    <option value="Collective">Collective</option>
                </select>
                <label for="newEventType">Event Type</label>

                <input type="number" [(ngModel)]="newEventHrs" id="newEventHrs" value={{newEventHrs}} name="EventHrs">
                <label for="newEventHrs">Event Hours</label>

                <input type="number" [(ngModel)]="newEventMins" id="newEventMins" value={{newEventMins}} name="EventMins">
                <label for="newEventMins">Event Minutes</label>

                <span>Event Location: </span> <span>Zoom</span>
            </form>
            <div class="popupBtns">
                <button class="cnfmBtn" (click)="newEventConfirmation()">Finish</button>
            </div>
        </div> -->


        <!-- <div id="horiNav">
            <div>
                <button id="newEvent" (click)="newEventPopup()"> + New Event</button>
            </div>
            <div>
                <button class="viewBtn" (click)="makeTableView()">Table View</button>
                <button class="viewBtn" (click)="makeCalendarView()">Calendar View</button>
                <a href="/entireUserAdmin">User Events</a>
                <a href="">User Availibility</a>
            </div>
        </div> -->
        <!-- <hr> -->


        <div id="content">


            <div id="popUpForEventDeletion" *ngIf="showPopup">
                <h4>Delete {{deleteEventName}}?</h4>
                <p>Users will be unable to schedule further meetings with deleted event types. Meetings previously
                    scheduled will not be affected.</p>
                <div id="popupBtns">
                    <button id="cancelBtn" (click)="deleteEventCacelation()">Cancel</button>
                    <button id="cnfmDelBtn" (click)="deleteEventConfirmation()">Yes</button>
                </div>
            </div>

            <div id="PopUpForEentAssignmentConfirmation" *ngIf="showPopUpForEentAssignmentConfirmation">
                <div id="textDiv">
                    <p>Are you sure you want to assign {{nameOfEventToBeAssigned}} to {{assignEventToUserName}} ?</p>
                    <ng-icon (click)="closePopUpForEventAssignmentConfirmation()" name="radixCross2"></ng-icon>
                </div>

                <div id="buttonsDiv">
                    <button (click)="assignEvent()">Yes</button>
                    <button (click)="closePopUpForEventAssignmentConfirmation()">Cancel</button>
                </div>
            </div>

            <div id="popUpForEventAssignment" *ngIf="showpopUpForEventAssignment">
                <ng-container *ngIf="usersWOloggedInUser.length">
                    <div class="heading">
                        <h4>Assign {{nameOfEventToBeAssigned}} To</h4>
                        <ng-icon (click)="AssignEventCacelation()" name="radixCross2"></ng-icon>
                    </div>
                    <table>
                        <tbody>
                            <tr *ngFor="let user of usersWOloggedInUser; let i = index">
                                <td class="name" *ngIf="user._id != selectedUserId">{{user.name}}</td>
                                <td *ngIf="user._id != selectedUserId"><button
                                        (click)="AssignEventToUser(user._id, user.name)">Assign</button></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>


            </div>

            <div id="filterDiv">
                <!-- <div id="filterTag"><button><p>My Calendly</p><ng-icon name="bootstrapChevronDown"></ng-icon></button></div>-->
                <div id="divForSearch">
                    <ng-icon name="ionSearchOutline"></ng-icon>
                    <input type="text" id="searchIP" placeholder="Search" [(ngModel)]="searchQuery"
                        (input)="filterItems()">
                </div>
            </div>

            <table id="table" *ngIf="tableView">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Type</th>
                        <th>Event Duration</th>
                        <th>Event Location</th>
                        <th>Event Meetings</th>
                        <th>Assign Event</th>
                        <th>Edit Event</th>
                        <th>Delete Event</th>
                    </tr>
                </thead>


                <tbody>
                    <ng-container *ngIf="eventsArrayOfSelectedUser.length && !tryingToFilter">
                        <tr *ngFor="let event of eventsArrayOfSelectedUser; let i = index">
                            <td class="name">{{event.evName}}</td>
                            <td class="type">{{event.evType}}</td>
                            <td class="duration">
                                <span *ngIf="event.evDuration.hrs != 0">{{event.evDuration.hrs}} hrs</span>
                                <span *ngIf="event.evDuration.minutes != 0">{{event.evDuration.minutes}} mins</span>
                            </td>
                            <td class="location">{{event.evLocation}}</td>
                            <td class="meetings"><button
                                    (click)="showMeetings(event._id, event.evName, event.evType, event.evDuration.hrs, event.evDuration.minutes)">Meetings</button></td>
                            <td class="assign"><button (click)="popUpForEventAssignment(event._id, event.evName)">Assign
                                    To</button></td>
                            <td><button
                                    (click)="editEvent(event._id, event.evName, event.evType, event.evDuration.hrs, event.evDuration.minutes, event.evLocation)"><ng-icon
                                        name="tablerEdit"></ng-icon></button></td>
                            <td><button (click)="deleteEventPopup(event._id, event.evName)"><ng-icon
                                        name="remixDeleteBin6Line"></ng-icon></button></td>

                        </tr>
                    </ng-container>

                    <ng-container *ngIf="filteredArr.length  && tryingToFilter">
                        <tr *ngFor="let event of filteredArr; let i = index">
                            <td class="name">{{event.evName}}</td>
                            <td class="type">{{event.evType}}</td>
                            <td class="duration">
                                <span *ngIf="event.evDuration.hrs != 0">{{event.evDuration.hrs}} hrs</span>
                                <span *ngIf="event.evDuration.minutes != 0">{{event.evDuration.minutes}} mins</span>
                            </td>
                            <td class="location">{{event.evLocation}}</td>
                            <td class="meetings"><button
                                    (click)="showMeetings(event._id, event.evName, event.evType, event.evDuration.hrs, event.evDuration.minutes)">Meetings</button></td>
                            <td class="assign"><button (click)="popUpForEventAssignment(event._id, event.evName)">Assign
                                    To</button></td>
                            <td><button
                                    (click)="editEvent(event._id, event.evName, event.evType, event.evDuration.hrs, event.evDuration.minutes, event.evLocation)"><ng-icon
                                        name="tablerEdit"></ng-icon></button></td>
                            <td><button (click)="deleteEventPopup(event._id, event.evName)"><ng-icon
                                        name="remixDeleteBin6Line"></ng-icon></button></td>

                        </tr>
                    </ng-container>


                    
                    </tbody>
                    </table>
                    <div>
                        <h4 id="pleaseWait" *ngIf="!eventsArrayOfSelectedUser.length && !tryingToFilter">Please Wait...</h4>
                    </div>
                    <div id="cannotFind" *ngIf="!filteredArr.length && tryingToFilter">
                        <p>Sorry, it looks like nothing matches that search criteria.</p>
                    </div>

<!-- 
            <div id="divForCalendar" *ngIf="calendarView">
                <div id="parentDiv">

                    <div id="eventDeets">
                        

                        <div id="divForCalendarAndTime">
                            <full-calendar id="monthCalendar" defaultView="dayGridMonth"
                                 [options]="calendarOptions"
                                plugins={[dayGridPlugin]}></full-calendar>
                        </div>

                    </div>
                </div>
            </div> -->

        </div>
    </div>
</body>