<div class="showhim" id="verticalNav" >
    <div  class="ok">
        <div id="upperDiv">
            <ng-icon id="logo" name="bootstrapCCircleFill"></ng-icon>
            <ng-icon id="plusSign" name="bootstrapPlusCircleFill"></ng-icon>
            <ng-icon class="commonSizeIcon" id="attachIcon" name="typAttachmentOutline"></ng-icon>
            <ng-icon class="commonSizeIcon" name="remixCalendar2Line"></ng-icon>
            <ng-icon class="commonSizeIcon" name="remixStackshareLine"></ng-icon>
            <ng-icon id="makeBold" name="circumRoute"></ng-icon>
        </div>
        <div id="lowerDiv">
            <ng-icon class="commonSizeIcon" name="bootstrapClock"></ng-icon>
            <ng-icon class="commonSizeIcon" name="octApps"></ng-icon>
            <ng-icon class="commonSizeIcon" name="iconoirCrown"></ng-icon>
            <ng-icon class="commonSizeIcon" name="bootstrapQuestionCircle"></ng-icon>
        </div>
    </div>
    <div class="showme" >
        <div id="upperDivHover">
            <div id="logoDivExpand"><a href="/home"><ng-icon id="logoExpand" name="bootstrapCCircleFill"></ng-icon><p>Calendly</p></a></div>
            <div><button id="plusSignExpand" name="bootstrapPlusCircleFill" (click)="createClicked()">+ Create</button></div>
            <div id="popUp" *ngIf="showPopUp">
                <button class="popUpBtns">
                    <!-- <div>icon</div> -->
                    <div>
                        <div class="heading"><p>Event Type</p></div>
                        <div  class="text"><p>Create a new template for your regularly scheduled events.</p></div>
                    </div>
                </button>
                <button class="popUpBtns" (click)="meetingPoll()">
                    <!-- <div>icon</div> -->
                    <div>
                        <div class="heading"><p>Meeting poll</p></div>
                        <div class="text"><p>SChedule a group meeting after offering times for a vote.</p></div>
                    </div>
                </button>
            </div>


            <div><a href="/home"><ng-icon class="commonSizeIcon" id="attachIconExpand" name="typAttachmentOutline"></ng-icon><p>Event Types</p></a></div>
            <div><a href="/scheduledEvents"><ng-icon class="commonSizeIcon" name="remixCalendar2Line"></ng-icon><p>Scheduled events</p></a></div>
            <div><a href="/workflows"><ng-icon class="commonSizeIcon" name="remixStackshareLine"></ng-icon><p>Workflows</p></a></div>
            <div><ng-icon id="makeBoldExpand" name="circumRoute"></ng-icon><p>Routing</p></div>
        </div>

        <div id="lowerDivHover">
            <div><a href="/customise"><ng-icon href="" class="commonSizeIcon" name="bootstrapClock"></ng-icon><p>Availability</p></a></div>
            <div><ng-icon class="commonSizeIcon" name="octApps"></ng-icon><p>Integration & apps</p></div>
            <div><a href="/users"><ng-icon class="commonSizeIcon" name="iconoirCrown"></ng-icon><p>Admin center</p></a></div>
            <div><ng-icon class="commonSizeIcon" name="bootstrapQuestionCircle"></ng-icon><p>Help</p></div>
        </div>

    </div>
</div>