#logOut{
    width: 60px;
}
#verticalNav{
    border-right: 1px solid lightgray;
    width: 5%;
    padding: 20px 5px;
    position: absolute;   
}
#verticalNav:hover{
    width: 20%;
    z-index: 10;
    background-color: white;
    transition: all 0.5s;
    padding: 10px 5px;  
}
.showme{ 
    display: none;
    overflow:scroll;
    overflow-x:hidden;
}
.showhim:hover .showme{
    display : block;
    
}
.showhim:hover .ok{
display : none;
}
#lowerDiv, #lowerDivHover{
    margin-top: 50px;
}
#verticalNav ng-icon{
    margin: auto;
    margin-bottom: 30px;
}
#verticalNav a{
    text-decoration: none !important;
    color: #1A1A1A;
}
#upperDivHover p, #upperDivHover ng-icon, #lowerDivHover p, #lowerDivHover ng-icon{
    display: inline;
}
#upperDivHover button{
    width: 100%;
    padding: 10px 10px;
}
#upperDivHover p, #lowerDivHover p{
    margin-left: 20px;
}
#upperDivHover>div, #lowerDivHover>div{
    width:90%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding : 10px;
    font-weight: bold;
}
#upperDivHover>div:hover{
    background-color: #F2F8FF;
}


.showme{
    height: 100vh;
    /* position: relative;
    overflow: visible; */

}
#logo, #plusSign, #logoExpand{
    font-size: 30px;
    color: #0069FF;
}
#logoDivExpand{
    color: #0069FF;
    font-size: 20px;
}
#plusSign{
    font-size: 40px;
}
#plusSignExpand{
    background-color: #0069FF;
    color: white;
    font-size: 16px;
}
.commonSizeIcon{
    font-size: 20px;
}
#makeBold, #makeBoldExpand{
    font-size: 25px;
}
#verticalNav:hover + #content{
    width: 100%;
}
#content{
    width: 95%;
    padding: 30px; 
}
ng-icon{
    display: flex;
}


.firstChar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #cccccc;
}
.firstChar>p{
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
    /* margin: auto; */
}
button{
    /* display: flex; */
    border-radius: 50px;
    border: 1px solid #0069FF;
    /* margin: auto; */
    padding: 0px 10px ;
}

#parentOfHori{
    display: flex;
    justify-content:flex-end;
    font-size: 14px;
    padding-top: 20px;
    padding-right: 20px;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
    /* font-weight: bold; */
}
#horiNav{
    /* display:flex; */
    /* width: 28%; */
    /* border: 1px solid red; */
    /* justify-content: space-between; */
    font-size: 12px;
}
#firstCharBtn{
    border: none;
    background-color: white;
    display: flex;
    /* padding: 0px; */
    /* border: 1px solid red; */
}

#logOutButton{
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    background-color: white;
}

#firstCharBtn>ng-icon{
    /* display: flex; */
    margin-top: 15px;
}
#firstCharBtn>.firstChar, #firstCharDiv>.firstChar{
    padding-top: 10px;
}
#firstCharDiv>.firstChar{
    text-align: center;
}
#horiNav > #lookAround, #horiNav > #inviteUser{
    color: #0069FF;
}
/* #lookAround, #inviteUser{
    font-weight: bold;
}
#inviteUser, #newEventType{
    margin: auto;
    padding: 5px;
}
#lookAround{
    margin-top: 10px;
} */

#divForuserNameLinkAndButton{
    /* border: 2px solid brown; */
    display: flex;
    justify-content: space-between;
}

#upperDivHover div p, #lowerDivHover div p{
    font-weight: bold;
    font-size: 15px;
}

#upperDivHover>#logoDivExpand p{
    font-size: 20px;
}


#popUp{
    z-index: 1;
    /* position: absolute; */
}
.popUpBtns{
    border-radius: 5px;
    border: 1px solid rgb(202, 199, 199);
    padding: 0px ;
    display: flex;
    justify-content: space-evenly;
    width: 110%;
    background-color: white;
}