<app-navbar></app-navbar>
<app-hori-nav></app-hori-nav>

<div>
  <div id="saveTime">
    <h2>Save time with workflows</h2>
    <p>
      Automate all the work you do around events, such as text messages when
      events are booked, email reminders before events, and more. You can start
      with a commonly used workflow or create your own.
    </p>
  </div>

  <div id="parentOfCardDivs">
    <div class="parentOfCards">
      <div class="card">
        <div><ng-icon name="ionMailOpenOutline"></ng-icon></div>
        <div class="textDiv">
          <h3>Email reminder to invitee</h3>
          <p>Reduce no-shows — send automated email reminders to invitees</p>
        </div>
        <div class="btnDiv">
          <button>Use workflow</button>
        </div>
      </div>
      <div class="card">
        <div><ng-icon name="ionMailOpenOutline"></ng-icon></div>
        <div class="textDiv">
          <h3>Email reminder to host</h3>
          <p>Never miss an event — get automated email reminders</p>
        </div>
        <div class="btnDiv">
          <button>Use workflow</button>
        </div>
      </div>
      <div class="card">
        <div><ng-icon name="ionMailOpenOutline"></ng-icon></div>
        <div class="textDiv">
          <h3>Send thank you email</h3>
          <p>Build relationships with a quick thanks</p>
        </div>
        <div class="btnDiv">
          <button>Use workflow</button>
        </div>
      </div>
    </div>

    <div class="parentOfCards">
      <div class="card">
        <div class="textDiv">
            <h3>Text reminder to host</h3>
            <p>Never miss an event — set automated text reminders</p>
        </div>

        <div class="btnDiv">
          <button>Use workflow</button>
        </div>
      </div>
      <div class="card">
        <div class="textDiv">
            <h3>Text booking confirmation to host</h3>
            <p>Keep hosts up-to-date with scheduled events</p>
        </div>
        <div class="btnDiv">
          <button>Use workflow</button>
        </div>
      </div>
      <div class="card">
        <div><ng-icon name="ionMailOpenOutline"></ng-icon></div>
        <div class="textDiv">
            <h3>Email your own feedback survey</h3>
            <p>
              Email a survey link from a third party like Typeform or Google Forms
              to get feedback from invitees after your event
            </p>
        </div>
        <div class="btnDiv">
          <button>Use workflow</button>
        </div>
      </div>
    </div>
  </div>
</div>